
<div class="masthead">
  <ul class="masthead-links group language-nav">
    <li>CSS</li>
    <li>HTML</li>
    <li>Javascript</li>
    <li>Ruby</li>
  </ul>

  <img class="logo" src="assets/AA_Times_Logo.png" alt="">
  <ul class="masthead-links">
    <li>Tuesday, October 18, 2016</li>
    <li>Today’s Paper</li>
    <li>Video</li>
    <li id="gray">77°F</li>
    <li id="gray">AAO <span class='stock'>+100%</span></li>
  </ul>
</div>
